<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stats App</title>

    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='flatly.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

    <h1 style="color:white;">Welcome to CTI Automated Test Environment</h1>
    <h1 style="color:white;">Phoenix Stats Page</h1>

</head>

<body>
    <div class="content">
        <table>
            <tr>
                <th>Monthly average of Requests</th>
                <th>Monthly average of Users</th>
                <th>Monthly average of Systems</th>

            </tr>
            <tr>
                <td>{{ results_requests }}</td>
                <td>{{ results_users }}</td>
                <td>{{ results_systems }}</td>

            </tr>
        </table>
    </div>

</body>


</html>