body {
    background-color: #1a2322;
    overflow: hidden;
    flex: none;
    justify-content: center;
    place-items: center;
    font-family: "Noto Sans Adlam", sans-serif;
    text-align: center;

}

html {
    overflow-y: scroll;
}


head {
    flex: none;
    justify-content: center;
    place-items: center;
    text-align: center;
}

.container {

    justify-content: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;

}

.witaj {
    width: 105px;
    height: 49px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    font-weight: 400;
    font-style: normal;
    font-family: "Noto Sans Adlam", sans-serif;
    color: #ffffff;
    font-size: 38px;
    letter-spacing: 0px;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;


}

.zarejestruj-się {
    width: 460px;
    height: 91px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    font-weight: 400;
    font-style: normal;
    font-family: "Noto Sans Adlam", sans-serif;
    color: #ffffff;
    font-size: 68px;
    letter-spacing: 0px;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
}

.text {
    width: 293px;
    height: 28px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    font-weight: 400;
    font-style: normal;
    font-family: "Noto Sans Adlam", sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.2;

}

button:hover {
    background-color: rgb(2, 131, 19);
    padding: 10px;
}

.button {
    border-radius: 8px;
    background-color: rgb(91, 192, 3);
    font-size: 16px;
    width: 550px;
    height: 50px;
    color: #ffffff;

}


.button-m {
    border-radius: 8px;
    background-color: rgb(91, 192, 3);
    font-size: 16px;
    width: 100px;
    height: 50px;
    color: #ffffff;

}

.input {
    border-radius: 8px;
    background-color: rgb(85, 85, 85);
    font-size: 16px;
    width: 550px;
    height: 40px;
    color: #ffffff;
    display: flex;

}

input::placeholder {
    color: white;
}

.input-long {
    border-radius: 8px;
    background-color: rgb(85, 85, 85);
    font-size: 16px;
    width: 550px;
    height: 40px;
    color: #ffffff;
}

table,
th,
td {
    border: 1px solid black;
    margin: auto;
    padding: 5px;
    color: #ffffff;
    background-color: rgb(62, 132, 1);
    width: 550px;
}